@charset "utf-8";
/*contents.css*/

/***** main_cont *****/
#container.main_bg {background: url("../images/img_main.svg") 90% 80px no-repeat;}
.main_cont {margin-top: 130px; }
.main_cont .title {display: flex;flex-direction: row;flex-wrap: nowrap;align-content: center;align-items: center;}
.main_cont .title h2 { color: #333333; font-size: 26px; line-height: 26px;}
.main_cont .title .btn {margin-left: 14px; padding: 6px 24px 6px 12px; color: #222222; font-size: 14px; background-color: #fff; background-image: url("../images/ico_enter.svg"); background-repeat: no-repeat; background-position: 120px center; border: 1px solid #D6DBE2; border-radius: 4px;}
.main_cont .present { margin-top: 30px; display: flex; flex-wrap: nowrap; flex-direction: row; justify-content: space-between;}
.main_cont .present li {display: block; margin-left: 2%; padding: 50px 40px 40px; width: calc(96% / 3); border-radius: 14px; background-position: center 110px; background-repeat: no-repeat;}
.main_cont .present li:nth-child(1) { margin-left: 0; background-color: #E8F0FA; background-image: url("../images/icon_main_01.svg");}
.main_cont .present li:nth-child(2) { background-color: #F7ECFB; background-image: url("../images/icon_main_02.svg");}
.main_cont .present li:nth-child(3) { background-color: #FBECF1; background-image: url("../images/icon_main_03.svg");}
.main_cont .present li span.tit { display: block; text-align: center; font-size: 20px; font-weight: 700 ; }
.main_cont .present li strong { display: block; text-align: center; margin-top: 170px; font-size: 44px; font-weight: 700;}
.main_cont .present li strong em {font-size: 20px; color: #787878; font-weight: 400;}
.main_cont .present li:nth-child(1) strong .count { color: #3375CB;}
.main_cont .present li:nth-child(2) strong .count { color: #C27EE2;}
.main_cont .present li:nth-child(3) strong .count { color: #E27CA1;}
.main_cont .present li dl { max-width: 280px; margin: 40px auto 0;  padding-top: 30px; border-top: 1px solid #D6DBE2;}
.main_cont .present li dl div {display: flex; flex-wrap: nowrap; flex-direction: row; justify-content: space-between;}
.main_cont .present li dl dt, .main_cont .present li dl dd { font-size: 18px; color: #787878; font-weight: 400;}

/***** sub template *****/
.cont { padding-top: 16px;}

/* info_list */
.cont .info_list { margin-bottom: 30px; padding: 20px 40px; border-radius: 8px; background-color: #EDEFF2;}
.cont .info_list table th, .cont .info_list table td {padding: 6px 10px; font-size: 14px; line-height: 20px; text-align: left;}
.cont .info_list table th { font-weight: 400; color: #898D9C;}
.cont .info_list table td { font-weight: 700 ; color: #222222;}

/* notice_list */
.cont .notice_list {margin-bottom: 30px; display: flex; flex-direction: row; flex-wrap: nowrap; align-items: center; padding: 26px 40px 26px 30px; border-radius: 8px; background-color: #fff; border:1px solid #D6DBE2;}
.cont .notice_list .title {display: flex; align-items: center;  padding-left: 64px; height: 50px; font-size: 22px; color: #225BB8; font-weight: 500; line-height: 34px; background: url("../images/icon_notice.svg") left center no-repeat; }
.cont .notice_list ul {margin-left: 30px; padding-left: 30px; width: calc(100% - 210px); border-left: 1px solid #D6DBE2;}
.cont .notice_list ul li { width: 100%; font-size: 14px; line-height: 20px; margin-bottom: 6px; white-space: nowrap; text-overflow: ellipsis; overflow: hidden;}
.cont .notice_list ul li strong {display: inline-block; margin-right: 20px;min-width: 80px; font-weight: 500; color: #222222;}
.cont .notice_list ul li strong::before {content: '\00B7'; display: inline-block; padding-right: 6px;}
.cont .notice_list ul li span {font-weight: 400; color: #898D9C;}

/* tip_list */
.cont .tip_list {margin-bottom: 30px; display: flex; flex-direction: row; flex-wrap: nowrap; align-items: center; padding: 26px 40px 26px 30px; border-radius: 8px; background-color: #F4F7FC;}
.cont .tip_list .title {display: flex; align-items: center;  padding-left: 64px; height: 50px; font-size: 22px; color: #225BB8; font-weight: 500; line-height: 34px; background: url("../images/icon_tip.svg") left center no-repeat; }
.cont .tip_list ul {margin-left: 30px; padding-left: 30px; width: calc(100% - 210px); border-left: 1px solid #D6DBE2;}
.cont .tip_list ul li { width: 100%; font-size: 14px; line-height: 20px; margin-bottom: 6px; white-space: nowrap; text-overflow: ellipsis; overflow: hidden;}
.cont .tip_list ul li strong {display: inline-block; margin-right: 20px;min-width: 80px; font-weight: 500; color: #222222;}
.cont .tip_list ul li strong::before {content: '\00B7'; display: inline-block; padding-right: 6px;}
.cont .tip_list ul li span {font-weight: 400; color: #898D9C;}

.noti {margin: 20px 0; color: #222222; font-size: 16px; font-weight: 400;}

/* collapse */
.col_btn { margin: -20px 0 50px; text-align: center;}
.col_btn a { position: relative; display: inline-block; padding-right: 26px; color: #585D72; font-size: 14px; font-weight: 500; line-height: 28px;}
.col_btn a.open {display: none;}
.col_btn a.close {display: none;}
.col_btn a::after { content: ""; position: absolute; top:5px; right:0; width: 18px; height: 18px; background: url("../images/ico_enter.svg") right center no-repeat; transform: rotate(90deg); transition:all 0.4s;}
.col_btn a.close::after {top:7px; transform: rotate(270deg);}

.cont.collapse .col_btn a.open {display: inline-block;}
.cont.collapse .sec_01 .info_list {padding-top: 10px; height: 22px; overflow: hidden;}
.cont.collapse .sec_01 .notice_list {display: none;}
.cont.collapse .sec_01 .btn_wrap {display: none;}

.sec_02 {display: none;}